
.App{
    min-height: 100vh;
    background-color:  #282c34;;
    color: aliceblue;
    transition: all 1s linear;
}
.light{
    background-color:  aliceblue;
    color: #282c34;
    transition: all 1s linear;
}
.cont{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}